<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59684147741-mc0sgt6c1h234er6tuim21vhdd06qfpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59684147741-mc0sgt6c1h234er6tuim21vhdd06qfpf</string>
	<key>API_KEY</key>
	<string>AIzaSyBJR_3oqVwnuSSZrkdF3PdoHW-1-mEd7UM</string>
	<key>GCM_SENDER_ID</key>
	<string>59684147741</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>EvelinaAlexey.VpnZep</string>
	<key>PROJECT_ID</key>
	<string>vpnzep</string>
	<key>STORAGE_BUCKET</key>
	<string>vpnzep.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59684147741:ios:d5d26541dec8bbba576cf4</string>
</dict>
</plist>